body {
  /* remove default margin */
  margin: 0 !important;
  background-color: #CFEAC7;
}

header {
  background-color: #A7C4A3;
  padding-left: 1vw;
  display: flex;
  justify-content: left;
  align-items: center;
}

header h1 {
  margin-left: 1vw;
}

header img {
  width: 5vw;
}

/* set hr color to black */
hr {
  margin: 5px 0 5px 0;
  border: 1px solid black
}

#main div {
  height: 100vh;
  padding: 0 1vw 0 1vw;
}

#explore {
  font-size: 64px;
}

#detail {
  font-size: 64px;
  background-color: #A7C4A3;
}

#detailContent {
  display: flex;
  justify-content: center;
}

#detailContent img{
  padding-top: 5%;
  height: 70%;
}

#toKnow {
  padding: 0 !important;
  height: 70vh !important;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

#toKnow div {
  height: inherit;
  /* width: 50%; */
  padding: 10% 10% 10% 10%;
  box-sizing: border-box;
}

#leftBlock {
  background-color: black;
  color: #A7C4A3;
  font-size: 56px;
}

#rightBlock {
  background-color: #4AB66E;
}

#rightBlock h1 {
  color: black;
}

#rightBlock p {
  color: #fff;
}

#subTitle{
  height: 12vh !important;
  font-size: 56px;
  background-color: #A7C4A3;
  width: inherit;
  padding: 50px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cards {
  background-image: url('/image/cardBackground.avif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  height: 75vh !important;

  display: flex;
  justify-content: center;
  align-items: center;
}

#cards div {
  height: 75%;
  width: 20%;
  background-color: #A7C4A3;
  margin: 10px 10px 10px 10px;
}