<div id="uniqueTitle" class="subTitle">
    <strong>Impact</strong>
</div>
<div id="uniqueCards" class="cards">
    <div>
        <h3>Environmental Benefits:</h3>
        <p> By providing an innovative and environmentally-friendly scale inhibitor, this project
            significantly reduces the need for traditional acid-alkaline cleaning methods, thereby minimizing water
            pollution and chemical waste. This contributes to preserving natural ecosystems and promoting sustainable
            industrial practices.</p>
    </div>
    <div>
        <h3>Economic Efficiency:</h3>
        <p> The high descaling rate (over 98%) of our product ensures enhanced operational
            efficiency and prolonged equipment lifespan across various industries. This leads to cost savings for
            clients, as they experience reduced downtime, maintenance costs, and energy consumption, ultimately boosting
            their overall profitability.</p>
    </div>
    <div>
        <h3>Market Growth and Job Creation:</h3>
        <p> Anticipating a rapid market growth for evaporator scale inhibitors, this
            project is poised to create new business opportunities and stimulate economic activity. With estimated
            annual sales volumes and revenues, it will contribute to the local and national economy, while also
            generating job opportunities for skilled workers in research, production, and sales.</p>
    </div>
    <div>
        <h3>Technological Innovation: </h3>
        <p>The project fosters technological advancement in the field of industrial water
            treatment, setting new benchmarks for efficiency and sustainability. This innovative approach encourages
            other companies to adopt similar eco-friendly practices, driving overall industry progress.</p>
    </div>
</div>