<div id="toKnow">
    <div id="leftBlock">
        Our</br>
        Story
    </div>
    <div id="rightBlock">
        <h1>Get to know us</h1>
        <p>Welcome to EcoXtra, where innovation meets sustainability. We focus on an innovative evaporator-specific
            scale inhibitor. This product provides customized solutions to the needs of different industries and solves
            real problems in the industrial sector. Our goal is to utilize our knowledge and innovation capabilities to
            enhance the sustainability of industrial production by reducing energy consumption, increasing productivity,
            and reducing environmental pollution. <br><br>
            We understand that no successful project is accomplished by working alone. Our team consists of high school
            students with diverse backgrounds and specialties, and everyone is an integral part of the team.<br><br>
            Innovation is the core of our team. We are always seeking better solutions. From design, marketing,
            modeling, and video production, every late-night online meeting witnessed our pursuit of excellence.<br><br>
            Everyone in our team is passionate about innovation. We learn together, face hardships together, and
            celebrate successes together. The process is full of challenges, however, we never give up. We believe that
            through our efforts, we can make a real difference in industrial production and the environment.</p>
    </div>
</div>